*.swp
*.old
*.csr
*/*.dSYM/
.DS_Store
CMakeCache.txt
CMakeFiles/
Makefile
build/
cmake_install.cmake
xcuserdata
*.xccheckout
!include/h2o
misc/test-ca/demoCA/newcerts/*.pem
tmp/

h2o
libh2o-evloop.a
libh2o-evloop.pc
libh2o.a
libh2o.pc
t-00unit-evloop.t
t-00unit-libuv.t
examples-http1client
examples-simple
examples-socket-client
examples-websocket